.left {
  flex: 1;
}

.timing {
  display: flex;
  align-items: center;

  .time {
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin: 0 4px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 900;
    height: 24px;
  }

  .time-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .additional-icon {
      display: flex;
      margin-top: 4px;

      img {
        margin: 0 4px;
      }
    }
  }
}

.arrival-item {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .desc {
    width: 70px;
    background-color: cadetblue;
    font-size: 24px;
    margin: 8px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 6px;
  }
}

.SEA {
  background-color: #56c356;
}

.SDA {
  background-color: #ff9800;
}

.LSD {
  background-color: red;
}

.refresh {
  z-index: 1;
}

.no-info {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 40px;
  font-size: 20px;
  font-weight: 900;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 0 8px;
  font-size: 13px;
}

.legend-row {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--ion-item-background, var(--ion-background-color, #fff));
}

.refresh-text {
  text-align: center;
  margin: 1rem;
  font-weight: 900;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: 14px;
}
